/*Button and navigation formatting- consistent across pages*/
body{
    background-color: navy;
}

h1, h2 {
    color:navy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.allButtons {
    color: #fff !important;
    background: purple;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.allButtons:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.smallButton{
    color: #fff !important;
    background: purple;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.smallButton:hover{
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.remove_button_style{
    font-size: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: navy;
    vertical-align: top;
}
#navigation, footer.footer {
    list-style: none;
    font-family: "Century Gothic", Verdana, Arial, Sans-Serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 15px;
}
#navigation li, footer ul li{
    clear: both;
    height: 2em;
    display: inline-block;
}
footer ul li{
    font-size: 0.7em;
    margin-right: 50px;
}
footer ul li a{
    margin: 0;
}

#navigation li a, footer ul li a {
    display: block;
    padding: 4px;
    text-decoration: none;
    color: rgb(164, 168, 221);
    margin-bottom: 10px;
    margin-right: 55px;
}

#navigation li:hover a, #navigation li a:hover, .footer li:hover a, .footer ul li a:hover {
    background: #999;
    color: #fff;
}

h4.prod_name{
    text-align: center;
    color: navy;
    padding-top: 10px;
    width: 200px;
    height: 70px;
    margin: 0 auto;
}
/* 
.wrapper, #categories h4  {
    color:navy;
    text-align: center;
} */
table#width, form {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
#below_table {
    margin-left: 65%;
}
a:hover {
    text-decoration: none;
    color: navy;
}
header #store_name, header #cart {
    color: white;
    padding-left: 3px;
}
header {
    background-color: navy;
    padding: 10px;
}
a#cart:hover {
    color: lightblue;
    text-decoration: none;
}



/* index, store-front page formatting */
div#hero{
    background-color: #D0A1D3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div#hero_img {
    display: inline-block;
    width: 65%;
}
div#hero_content{
    display: inline-block;
    width: 35%;
} 

#new_prods{
    background-color: #D0A1D3;
    text-align: center;
    vertical-align: top;
    min-width: 100%;
    border: none;
    margin-top: 100px;
}

div#new_prods_spacing{
    margin: 30px;
    background-color: white;
}

div#categories {
    max-width: 60%;
    padding: 5px;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* div#search, form {
    margin-left: 30% ;
} */

/* formatting for products/categories/specific category ID page */
/* aside{
    display: inline-block;
    width: 24%;
    border: 1px solid black;
    padding: 5px;
} */
.prod_dispalys {
    display: inline-block;
    text-align: left;
    width: 98%;
    padding: 55px; 
    margin: 0 auto; 
    vertical-align: top;
    background-color: white;
}
#home_link {
    display: block;
}

/* aside #categories ul, h4{
    list-style: none;
    margin-left: 10px;
    text-align: left;
} */
div.featured_prods {
    display: inline-block;
    width: 350px;
    height: 400px;
    padding-top: 15px;
}

/* formatting for products/show/specific prod ID page */
div#image{
    display: inline-block;
    width: 50%;
    padding: 80px;
    padding-bottom: 10px;
    vertical-align: top;
}
div#details{
    display: inline-block;
    width: 40%;
    padding: 80px;
    padding-bottom: 10px;
}
div#details h1, div#details form {
    text-align: left;
    margin: 0;
}

/* formatting for checkout page */
.order_form {
    width: 48%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}