<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">
    
    <style>
        body {
            padding: 10px;
            text-align: center;
        }
        h1 {
            color:navy;
            padding: 20px;
        }
        #submit {
            margin-left: 15%;
            background-color: navy;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Admin Login Page</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    

    <form action='verify_admin' method="POST">
        {% csrf_token %}
        <p>email: <input type="text" name='admin_email' ></p>
        <p>password: <input type="password" name='admin_pw' ></p>
        <input id='submit' type="submit" value='Login'>
    
</body>
</html>