<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">
    <style>

    </style>
</head>
<body>
    <header>
        <p>eCommerce- Store Name!</p>
        <a href='/cart_contents' id="cart">Shopping Cart ({{cart_count}})</a>
    </header>
    <nav>
        <a href="/">Home</a>
        <!-- <a href='/products/category/{{ selected_prod.cat.id }}'>Go Back</a> -->
    </nav>

    <h1> Items in your cart:</h1>
    <table id='width' class="table table-striped">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
        <!-- { for prod in yourCart } -->
        <!-- <tr>
            <td>testing</td>
            <td>$3.99</td>
            <td>2 | <a href=''>update</a> | <a href=''>delete</a></td>
            <td>mult price * quant</td>
        </tr> -->
        <!-- { endfor } -->
        {% for prod in prods %}
        <form action='editCart/{{ prod.id }}' method='POST'>
            {% csrf_token %}
            <tr>
                <td>
                    <a href='/products/show/{{ prod.id }}' >
                    <img src="{{ prod.main_img }}" alt="{{ prod.name }}, {{ prod.id }}" width="100">
                    <br>
                    {{ prod.name }}
                    </a> 
                </td>
                <td>${{ prod.price }} </td>
                <td>
                    {% for x in cart_contents %}
                        {% if x.id == prod.id %}
                            <!-- {{ x.quant }} -->     
                <input type="hidden" name="prod_id" value="{{ prod.id }}">
                <select name="new_quant">
                {% for i in price_list %}
                    {% for j in i %}
                        {% if j.id == prod.id %}
                            {% for p in j.price_list %}
                                {% if p == x.total %}
                                    <option selected="selected" value='{{ forloop.counter }}'> {{ forloop.counter }} (${{ p|floatformat:2 }})</option>
                                {% else %}
                                    <option value='{{ forloop.counter }}'> {{ forloop.counter }} (${{ p|floatformat:2 }})</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </select>
                {% endif %}
                {% endfor %}

                <br>
                <input type="submit" value="Update" class="btn btn-primary btn-xs"></a> | <a href='removeFromCart/{{ prod.id }}' class="btn btn-primary btn-xs">Remove</a></td>
                <td>
                    {% for x in cart_contents %}
                        {% if x.id == prod.id %}
                            ${{ x.total|floatformat:2 }}
                        {% endif %}
                    {% endfor %}   
                </td>
            </tr>
        </form>
        {% endfor %}
    </table>

    <div id='below_table'>
        <p style="font-weight: bold; border:1px;">Total: ${{ cart_sumTotal_cost|floatformat:2 }}</p>

        <!-- <input type="submit" value="Proceed to Checkout" class="btn btn-primary" id='updated_prod_btn'> -->
        <a href="checkout" class="btn btn-primary">Proceed to Checkout</a>
        <br>
        <a href='/' class="btn btn-primary"> Continue Shopping</a>
        <br>
        <a href='/empty_cart' class="btn btn-primary"> Empty Cart </a>
    </div>

</body>
</html>