<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">

</head>
<body>
    <header>
        <p>eCommerce- Store Name!</p>
        <a href='/cart_contents' id="cart">Shopping Cart ({{cart_count}})</a>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href='/cart_contents'>Go Back</a>
    </nav>

    <h1> Checkout</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
        <form action='process_order' method="POST">
            {% csrf_token %}
            <div class='order_form' >
                <h3>Shipping Address</h3>
                    <p>First Name: <input type="text" name='ship_fname' ></p>
                    <p>Last Name: <input type="text" name='ship_lname' ></p>
                    <p>Email: <input type="email" name='email' ></p>
                    <p>Address: <input type="text" name='ship_address' ></p>
                    <p>Address 2: <input type="text" name='ship_address2' ></p>
                    <p>City: <input type="text" name='ship_city' ></p>
                    <p>State: <input type="text" name='ship_state' ></p>
                    <p>Zipcode: <input type="number" name='ship_zip' ></p>
        
        
                <h3>Billing Address</h3>
                    <p><input type="checkbox" name="same" > Same as Shipping</p>
                    <p>First Name: <input type="text" name='bill_fname' ></p>
                    <p>Last Name: <input type="text" name='bill_lname' ></p>
                    <p>Address: <input type="text" name='bill_address' ></p>
                    <p>Address 2: <input type="text" name='bill_address2' ></p>
                    <p>City: <input type="text" name='bill_city' ></p>
                    <p>State: <input type="text" name='bill_state' ></p>
                    <p>Zipcode: <input type="number" name='bill_zip' ></p>
        
                    <input type="submit" value="Place My Order" class="btn btn-primary" id='updated_prod_btn'>
            </div>

            <div class='order_form' id='order_summary'>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                {% for prod in prods %}
                    <tr>
                        <td>
                            <a href='/products/show/{{ prod.id }}' >
                            <img src="{{ prod.main_img }}" alt="{{ prod.name }}, {{ prod.id }}" width="50">
                            </a> 
                            <input type="hidden" name="prod" value="{{ prod.id }}">
                        </td>
                        <td>
                            {% for x in cart_contents %}
                                {% if x.id == prod.id %}
                                    {{ x.quant }}
                                    <input type="hidden" name="quant" value="{{ x.quant }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for x in cart_contents %}
                                {% if x.id == prod.id %}
                                    ${{ x.total|floatformat:2 }}
                                {% endif %}
                            {% endfor %} 
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td scope="col" style="font-weight: bold;">Total: ${{ cart_sumTotal_cost|floatformat:2 }}</td>
                    </tr>
                </table>
            </div>
        </form>
    
</body>
</html>