<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">

</head>
<body>
    <header>
        <p>eCommerce- Store Name!</p>
        <a href='/cart_contents' id="cart">Shopping Cart ({{cart_count}})</a>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href='/cart_contents'>Go Back</a>
    </nav>

    <h1> Checkout</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
        <form action='process_order' method="POST">
            {% csrf_token %}
            <div class='order_form' >
                <h3>Shipping Address</h3>
                    <p>First Name: <input type="text" name='ship_fname' id='ship_fname' onkeyup="getInput()"></p>
                    <p>Last Name: <input type="text" name='ship_lname' id='ship_lname' onkeyup="getInput()"></p>
                    <p>Email: <input type="email" name='email' ></p>
                    <p>Address: <input type="text" name='ship_address' id='ship_address' onkeyup="getInput()"></p>
                    <p>Address 2: <input type="text" name='ship_address2' id='ship_address2' onkeyup="getInput()"></p>
                    <p>City: <input type="text" name='ship_city' id='ship_city' onkeyup="getInput()"></p>
                    <p>State: <input type="text" name='ship_state' id='ship_state' onkeyup="getInput()"></p>
                    <p>Zipcode: <input type="text" name='ship_zip' id='ship_zip' onkeyup="getInput()"></p>
        
        
                <h3>Billing Address</h3>
                    <input type="checkbox" name="billing_address" id='billing_address'> Same as Shipping

                    <script type = "text/javascript">
                        function getInput() {
                          $('#billing_address').change(function(){
                            var fname = document.getElementById("ship_fname").value;
                            var lname = document.getElementById("ship_lname").value;
                            var address = document.getElementById("ship_address").value;
                            var address2 = document.getElementById("ship_address2").value;
                            var city = document.getElementById("ship_city").value;
                            var state = document.getElementById("ship_state").value;
                            var zip = document.getElementById("ship_zip").value;

                            if ($(this).is(':checked')) {
                                $('input#bill_fname').val(fname)
                                $('input#bill_lname').val(lname)
                                $('input#bill_address').val(address)
                                $('input#bill_address2').val(address2)
                                $('input#bill_city').val(city)
                                $('input#bill_state').val(state)
                                $('input#bill_zip').val(zip)
                            };
                          });
                        };
                        </script>
                    <br>

                    <p>First Name: <input type="text" name='bill_fname' id='bill_fname'></p>
                    <p>Last Name: <input type="text" name='bill_lname' id='bill_lname'></p>
                    <p>Address: <input type="text" name='bill_address' id='bill_address'></p>
                    <p>Address 2: <input type="text" name='bill_address2' id='bill_address2'></p>
                    <p>City: <input type="text" name='bill_city' id="bill_city"></p>
                    <p>State: <input type="text" name='bill_state' id="bill_state"></p>
                    <p>Zipcode: <input type="number" name='bill_zip' id='bill_zip'></p>
        
                    <input type="submit" value="Place My Order" class="btn btn-primary" id='updated_prod_btn'>
            </div>

            <div class='order_form' id='order_summary'>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                {% for prod in prods %}
                    <tr>
                        <td>
                            <a href='/products/show/{{ prod.id }}' >
                            <img src="{{ prod.main_img }}" alt="{{ prod.name }}, {{ prod.id }}" width="50">
                            </a> 
                            <input type="hidden" name="prod" value="{{ prod.id }}">
                        </td>
                        <td>
                            {% for x in cart_contents %}
                                {% if x.id == prod.id %}
                                    {{ x.quant }}
                                    <input type="hidden" name="quant" value="{{ x.quant }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for x in cart_contents %}
                                {% if x.id == prod.id %}
                                    ${{ x.total|floatformat:2 }}
                                    <input type="hidden" name="cost" value="{{ x.total }}">
                                {% endif %}
                            {% endfor %} 
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td scope="col" style="font-weight: bold;">Total: ${{ cart_sumTotal_cost|floatformat:2 }}
                            <br>
                            Tax: ${{ tax|floatformat:2 }}
                            <br>
                            Shipping: ${{ shipping_cost|floatformat:2 }}
                        </td>                       
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td scope="col" style="font-weight: bold;">Sub Total: ${{ sub_total|floatformat:2 }}<input type="hidden" name="total_cost" value="{{ sub_total }}"></td>
                    </tr>
                </table>
            </div>
        </form>

 
</body>
</html>