<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- jQuery Modal -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> -->

    <style>
    header p, header a {
        display: inline-block;
        padding: 15px;
        color: white;
    }
    header a:hover{
        text-decoration: none;
        color: rgb(221, 189, 189);
    }
    header a:active {
        color: black;
    }
    header {
        background-color: darkred;
    }
    a#logout {
        margin-left: 70%;
    }
    nav.navbar {
        display: inline-block;
    }
    #add_prod_btn {
        display: inline-block;
        margin-left: 65%;

    }
    #add_prod_btn a {
        color: white;
        text-decoration: none;
    }
    h1 {
        color: white;
        background-color: darkred;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>
    


    <header>
        <p>Dashboard</p>
        <a href='/dashboard/orders' >Orders</a>
        <a href='/dashboard/prods' style="text-decoration: underline">Products</a>
        <a id='logout' href='/LOGOUT'>Log Out</a>     
    </header>

    <nav class="navbar ">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
        </form>
    </nav> 
    <button type="button" id='add_prod_btn' class="btn btn-primary" data-toggle="modal" data-target="#form_add_prod">Add A New Product</button> 
    <!-- <button id='add_prod_btn' class="btn btn-danger" ><a href='#form_add_prod' rel="modal:open" >Add A New Product</a></button> -->
     
    
    

    <table class="table table-striped">
        <tr>
            <th scope="col">Picture</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope='col'>Category</th>
            <th scope='col'>Price/Unit</th>
            <th scope="col">Inventory Count</th>
            <th scope="col">Quant Sold</th>
            <th scope="col">Action</th>
        </tr>

        {% for prod in products %}
        <tr>
            <td><img src="{{ prod.main_img }}" alt="{{prod.name}}" height="100" width="100"></td>
            <td>{{ prod.id }}</td>
            <td>{{ prod.name }}</td>
            <td>{{ prod.cat.title }}, {{ prod.cat.id }}</td>
            <td>{{ prod.price }} </td>           
            <td>{{ prod.count }} </td>
            <td>{{ prod.sold }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form_edit_prod"  data-id="{{ prod.id }}" data-name="{{ prod.name }}" data-desc="{{ prod.desc }}" data-cat="{{ prod.cat.id }}" data-count="{{ prod.count }}" data-sold="{{ prod.sold }}" data-img="{{ prod.main_img }}" data-price="{{ prod.price }}">Edit</button>  
                <a href='delete/{{ prod.id }}'>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table> 


    <!-- "Add a new product" button in top right corner -->
    <div id="form_add_prod" class='modal fade'  tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title" id="editModalTitle">Add New Product</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div> 

                <div class="modal-body">
                <form  method="POST" action='/add_prod' enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Name: <input type="text" name="name" required></p>
                    <p>Description: <textarea name="desc" cols="30" rows="10"></textarea></p>
                    <p>Price per unit: $<input type="number" min="0.01" step="0.01" name="unit_price" required></p>
                    <p>Categories: 
                    <select name="category">
                        {% for cat in categories %}
                            <option value = '{{ cat.id }}' >{{cat.title}}</option>
                        {% endfor %}
                    </select>
                    </p>
                    <!-- <p>or add new category: <input type="text"  name="category" ></p> -->
                    <p>Inventory Count: <input type="number" name="inventory_count"></p>
                    <p>Image: <input type='text' name='main_pic'></p>
                    <input type="submit" value="Add Product" class="btn btn-danger" id='add_prod_btn'>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!-- "Edit" button in Action column -->
    <div class="modal fade" id="form_edit_prod"  tabindex="-1" role="dialog" aria-labelledby="editModalTitle" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title" id="editModalTitle"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </div>  
                
                <div class="modal-body">

                    <form  method="POST" action='/update_prod'>

                        {% csrf_token %}
                        <input type="hidden" name="prod_id" id="prod_id" value=''>
                        <p>Name: <input type="text" name="name" id="name" required></p>
                        <p>Description: <textarea id="desc" name="desc" cols="30" rows="10"></textarea></p>
                        <p>Price per unit: $<input id="price" type="number" min="0.01" step="0.01" name="unit_price" required></p>
                        <p>Categories: 
                            <select id= "cat" name="category">
                                {% for category in categories %}
                                    <option value = '{{ category.id }}' >{{category.title}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>Inventory Count: <input type="number" id="count" name="inventory_count" value=''></p>
                        <p>Image: <input type='text' name='main_pic' id="img"  ></p>
                        <input type="submit" value="Update" class="btn btn-danger" id='updated_prod_btn'>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type = "text/javascript">
        $('#form_edit_prod').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var id = button.data('id') 
            var name = button.data('name')
            var desc = button.data('desc')
            var price = button.data('price')
            var cat = button.data('cat')
            var count = button.data('count')
            var img = button.data('img')

            var modal = $(this)
            modal.find('.modal-title').text('Edit ' + name)
            modal.find('.modal-body input#prod_id').val(id)
            modal.find('.modal-body input#name').val(name)
            modal.find('.modal-body textarea#desc').val(desc)
            modal.find('.modal-body input#price').val(price)
            modal.find('.modal-body select#cat').val(cat)
            modal.find('.modal-body input#count').val(count)
            modal.find('.modal-body input#img').val(img)
        })
    </script>

</body>
</html>