<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/admin_styles.css' %}">

    <style>


    </style>
</head>
<body>
    <header>
        <p>Dashboards</p>
        <a href='/dashboard/orders' style="text-decoration: underline">Orders</a>
        <a href='/dashboard/prods'>Products</a>
        <a id='logout' href='/admin_logout'>Log Out</a>     
    </header>

    <!-- <nav class="navbar ">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
        </form>
    </nav>  -->

    <table class="table table-striped">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Billing Address</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
            </tr>

            {% for order in orders %}
            <tr>
                <td><a href='/orders/show/{{order.id}}'>{{order.id}}</a></td>
                <td>{{order.b_fname}} {{order.b_lname}}</td>
                <td>{{order.created_at}}</td>
                <td>{{order.b_address}}<br> {{order.b_address2}} <br> {{order.b_city}}, {{order.b_state}} {{order.b_zip}}</td>
                <td>${{order.total_cost}}</td>
                <td>
                    {% if order.status_id == 2 %}
                    <form action="/orders/update/{{order.id}}" method='POST'>
                        {% csrf_token %}
                        <select name="status">
                            <option value="1">order in process</option>
                            <option value="2" selected="selected">shipped</option>
                            <option value="3">cancelled</option>
                        </select>
                        <input type="submit" value="Update" class="btn btn-primary">
                    </form>
                    {% elif order.status_id == 3 %}
                    <form action="/orders/update/{{order.id}}" method='POST'>
                            {% csrf_token %}
                        <select name="status">
                            <option value="1">order in process</option>
                            <option value="2" >shipped</option>
                            <option value="3" selected="selected">cancelled</option>
                        </select>
                        <input type="submit" value="Update" class="btn btn-primary">
                    </form>
                    {% else %}
                    <form action="/orders/update/{{order.id}}" method='POST'>
                            {% csrf_token %}
                        <select name="status">
                            <option value="1" selected="selected">order in process</option>
                            <option value="2" >shipped</option>
                            <option value="3" >cancelled</option>
                        </select>
                        <input type="submit" value="Update" class="btn btn-primary">
                    </form>
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </table>

</body>
</html>