<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">

    <style>

    </style>
</head>
<body>
    <header class="row">  
        <div class = "col-xs-12 col-md-10" >
            <a href = '/' >
            <img style="vertical-align: top" src= "../../static/images/white_hat_logo.png" height="25px;" style="margin-right: 15px; display: inline-block;">
            <p id='store_name' style="display: inline-block;">
                The Accessory Store
            </p>
            </a>
        </div>
        <a  class = "col-xs-6 col-md-2" href='/cart_contents' id="cart">
            Shopping Cart ({{cart_count}})
        </a>
    </header>

    <ul id="navigation" >
    {% for cat in categories %}
        <li><a href = '/products/category/{{ cat.id }}' >{{cat.title}}</a></li>
    {% endfor %}
    </ul>


    <div id='hero' class="row">
        <div id='hero_img' class = "col-xs-7">
            <img  src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/145768/145768_00_2x.jpg" src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/169967/169967_00_2x.jpg" height="700">
        </div>
        <div id='hero_content' class = "col-xs-5">
            <h1 style="font-size: 105px; padding-top: 170px; margin-left: -1em;color: navy;">Be <br> Unforgettable</h1>
            <div style="text-align: right; margin: 0; width:80%;"> 
                <h2 style="font-size: 30px; color:white; ">
                Let your style shine!
            </h2>
                <a class="allButtons"  href="/products/category/6">Shop Sunglasses >></a> 
            </div>
        </div>
    </div>

    <div id="new_prods" class='prod_dispalys'>
        <h2 style="font-size: 30px;">Latest Additions</h2>
        {% for prod in new_prods %}
        <div id="new_prods_spacing">
            <a href="/products/show/{{ prod.id }}" style="text-decoration: none;">
                <img src="{{prod.main_img}}" alt="{{prod.name}}" height="200" >
                
                <h4 class='prod_name'>{{prod.name}}</h4>
                <p>${{prod.price}}</p>
                <button class="allButtons" style="margin-top: 0">See Details</button>
            </a>
        </div>
        {% endfor %}
    </div>
    
    <footer class='footer' style="padding-top: 10px;">
        <ul>
            <li><a href="">Customer Support</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">In the News</a></li>
            <li><a href="">Return Policy</a></li>
            <li><a href="">Terms and Conditions</a></li>
        </ul>
        <p style="color: white;font-size: 11px; margin-top: 40px; margin-bottom: 0;">&copy; Copyright 2019 Mayan Rothstein</p>
    </footer>
</body>
</html>