<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">

    <style>

    </style>
</head>
<body>
    <header>
        <p>eCommerce- Store Name!</p>
        <a href='/cart_contents' id="cart">Shopping Cart ({{cart_count}})</a>
    </header>

    <div class='wrapper'>
        <h1>Welcome!</h1>
        <p> What are you shopping for today? To get started, click on a category or seach a product name in the search box below!  </p>
    </div>

    <div class='wrapper' id='search'>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav> 
        <div id='categories'>    
            <h4>Categories</h4>
            <ul>
            {% for cat in categories %}
                <li><a href = '/products/category/{{ cat.id }}' >{{cat.title}} ({{cat.prod_in_category.count}})</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>