<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prod Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" href="{% static 'online_shopping/style.css' %}">

    <style>
    
    </style>
</head>
<body>
    <header class="row">  
        <div class = "col-xs-12 col-md-10" >
            <a href = '/' >
            <img style="vertical-align: top" src= "../../static/images/white_hat_logo.png" height="25px;" style="margin-right: 15px; display: inline-block;">
            <p id='store_name' style="display: inline-block;">
                The Accessory Store
            </p>
            </a>
        </div>
        <a  class = "col-xs-6 col-md-2" href='/cart_contents' id="cart">
            Shopping Cart ({{cart_count}})
        </a>
    </header>
        
    <ul id="navigation">
    {% for cat in categories %}
        {% if selected_cat.id == cat.id %}
            <li ><a style='border:1px solid #999; color:#fff; text-transform: uppercase;' href = '/products/category/{{ cat.id }}' >{{cat.title}}</a></li>
        {% else %}
            <li><a href = '/products/category/{{ cat.id }}' >{{cat.title}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <div style="text-align: center;">
        <div class='prod_dispalys' class="row">
            <br>
            <div id='details'>
                <h1>{{ selected_prod.name }}</h1>
                <br>
                <p>{{selected_prod.desc}}</p>
                <p>Price: ${{selected_prod.price}}</p>

                <form action="/addtoCart/{{ selected_prod.id }}" method='POST'>
                    {% csrf_token %}
                    <p>Quantity: <select name="quant">
                        <ol>
                            {% for price in price_list %}
                            <li>
                                <option value='{{ forloop.counter }}'> {{ forloop.counter }} (${{ price }})
                                </option>
                            </li>
                            {% endfor %}
                        </ol>
                </select>
                </p>
                    <input type="hidden" name="price" value="{{ selected_prod.price }}">
                    <input type="submit" value="Add to Cart" class="allButtons">
                </form>
            </div>

            <div id='image'>
                <img src="{{selected_prod.main_img}}" alt="{{selected_prod.name}}" width="500" >
            </div>
        </div>
    </div>
    
    <footer class='footer' style="padding-top: 10px;">
        <ul>
            <li><a href="">Customer Support</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">In the News</a></li>
            <li><a href="">Return Policy</a></li>
            <li><a href="">Terms and Conditions</a></li>
        </ul>
        <p style="color: white;font-size: 11px; margin-top: 40px; margin-bottom: 0;">&copy; Copyright 2019 Mayan Rothstein</p>
    </footer>
</body>
</html>